.contenedorpj{
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    grid-template-columns: auto auto;
  }
}